* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  $bgcolor: #d1d1d1;;
  $fgcolor: #e7e7e7;

li:hover, button, img, h3, .read{
    cursor: pointer;
}

html, body{
    height: 100%;
    font-family:Trebuchet MS, sans-serif;
    display: flex;
    flex-direction: column;
}

.logreg{
    visibility: hidden;    

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding:30px 0;

    backdrop-filter: blur(5px) brightness(60%);

    div{
        background-color: $bgcolor;

        height: 50%;
        min-width: 30%;
        aspect-ratio: 1;
        padding: 5%;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3{
            margin-bottom: auto;
        }

        input{
            margin: 5%;
            width: 80%;
            margin-bottom: 10%;
        }

        button{
            background-color: $fgcolor;
            border: none;
            border-radius: 10px;
            padding: 2%;
            padding-right: 5%; padding-left: 5%;
            width: 50%;

            color: rgb(0, 0, 0);
            text-align: center;
            display: inline-block;
            

            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        button:hover {
            background-color:#000000;
            color: rgb(255, 255, 255);           
        }

        a{
            margin-left: auto;
            text-size-adjust: 50%;
        }
    }
}

header{
    background-color: $fgcolor;
    // background-image: url('headpic.jpg');
    background-position: center;
    color: #000000;
    display: flex;
    flex-flow: row wrap;
    font-size: 80%;

    h1 {
        text-align: left;
        margin-top: auto;
        padding: 3%;
        text-size-adjust: 400%;
    }
    .login{
        display: inline-block;
        margin: 3%;
        height: 25%;
        margin-left: auto;
        margin-bottom: auto;
            button{
                background-color: transparent;
                border: none;
                border-radius: 5px;
                padding: 10%;

                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                img{
                    display: none;
                }
            }

            button:hover{
                background-color:#000000;
                color: rgb(255, 255, 255);
            }
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content:center;

        button{
            background-color: transparent;
            border: none;
            padding: 2%;

            color: rgb(0, 0, 0);
            text-align: center;
            display: inline-block;
            

            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        button:hover {
            background-color:#000000;
            color: rgb(255, 255, 255);           
        }

        .submenu{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            display: none;
            opacity: 0;

            background: #BAD78B;
            button{
                background-color: transparent;
                border: none;
                padding: 2%;
    
                color: rgb(0, 0, 0);
                text-align: center;
                display: inline-block;
                
    
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
            }
    
            button:hover {
                background-color:#000000;
                color: rgb(255, 255, 255);           
            }
        }
        .more:hover .submenu{
            background-color: #BAD78B;
            display: block;
            opacity: 1;
          }
    }
}

.wrapper{
    flex-grow: 1;
    background-color: $bgcolor;
    display: flex;
    justify-content: center;
    font-size: 80%;

    .feed{
        display: grid;
        gap: 1rem;

        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

        width: 60%;
        .news{
            display: flex;
            flex-direction: column;
            grid-template-columns: repeat(2, 1fr);
            background-color:  $fgcolor;
            border-radius: 15px;
            margin-top: 5%;
            margin-bottom: 5%;
            h3, p{
                padding: 2%;
            }
            .pic{
                width: 100%;
                margin-bottom: 2%;
            }    
        }
        #n1, #n2{
            grid-row: span 2 / auto;
          }
        
        }
    }

    .side{
        display: inline;
        height: fit-content;
        position: sticky;
        top: 2%;
        margin-top: 2%;
        max-width: 20%;
        .hot{
            background-color:  $fgcolor;
            margin: 3%;
            border-radius: 15px;
            h3{text-align: center;}
            h3, p{
            padding: 2%;
            }
            img{
                border-radius: 15px;
                width: 100%;
            }
        }

    .moreLinks{
        background-color:  $fgcolor;
            height: 25%;
            margin: 3%;
            border-radius: 15px;
            padding: 2%;

            li{
                border-bottom: groove;
                padding: 2%;
            }
        }
    }


footer{
    background-color: rgb(54, 54, 54);
    margin-top: auto;
    bottom: 0%;
    padding: 2%;
}

@media (max-width: 1170px) {
    header{
        .categories{
            button{
                padding: 3%;
            }
        }
    }
}

@media (max-width: 600px) {
    header{
        background-size: 150%;
        h1 {
            size-adjust: 80%;
        }
        .categories{
            display: none;
        }
        .login{
            display: grid;
            li{
                display: none;
            }
            button{
                background-color: transparent;
                border: transparent;
                img{
                    display: block;
                    width: 50px;
                }  
            }
        }
    }
    .wrapper{
        .feed{
            max-width: 90%;
            min-width: 90%;
        }
        .hot, .moreLinks{
            display: none;
        }        
    }
    footer{
        margin-top: auto;
    }
}